.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space content with button at the bottom */
  }
  
  .modal-content .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .modal-content button {
    background-color: #5a6acf;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  